$Primaire: #9356DC;
$Secondaire: #FF79DA;
$Tertiaire: #99E2D0;
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Black.ttf');
}

@font-face {
    font-family: 'Shrikhand';
    src: url('../fonts/Shrikhand/Shrikhand-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.title {
    font-family: 'Shrikhand';
}