$Primaire: #9356dc;
$Secondaire: #ff79da;
$Tertiaire: #99e2d0;
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto-bold";
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Shrikhand";
    src: url("../fonts/Shrikhand/Shrikhand-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.title {
    font-family: "Shrikhand";
}

ul {
    list-style-type: none;
}

h1,
h2 {
    font-family: "Roboto-bold";
}

button,
.button {
    outline: none;
    border: none;
    background-color: $Primaire;
    background-image: linear-gradient($Secondaire, rgba(255, 255, 255, 0));
    padding: 15px 35px;
    border-radius: 50px;
    width: fit-content;
    color: #ffffff;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: background-color 400ms, box-shadow 400ms;
    &:hover {
        background-color: $Secondaire;
        box-shadow: rgba(0, 0, 0, 0.4) 1.95px 1.95px 2.6px;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
}


/* LOADING */

.loading {
    background-color: $Tertiaire;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    animation: displayNone 6s forwards;
    span {
        margin-top: 300px;
        height: 50px;
        width: 10px;
        background-image: linear-gradient($Secondaire, $Primaire);
        border-radius: 50px 0 50px 0;
        &:nth-child(odd) {
            animation: loading-icon 0.8s ease-out infinite alternate-reverse, displayNone 3.5s forwards linear;
        }
        &:nth-child(even) {
            animation: loading-icon 0.6s linear infinite alternate-reverse, displayNone 3.5s forwards linear;
        }
    }
}


/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    a {
        position: absolute;
        left: 15px;
    }
}


/* LOCALISATION */

.localisation {
    background-color: #e7e7e7;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: #4a4a4a;
}


/* SECTIONS */

section {
    padding: 50px 4%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    &#home {
        padding: 50px 10%;
        align-items: center;
        text-align: center;
        background-color: #f1f1f1;
    }
    &#fonctionnement {
        ul {
            list-style-type: decimal;
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin: 0 15px;
            li {
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                padding: 30px 15px;
                border-radius: 25px;
                display: flex;
                align-items: center;
                gap: 25px;
                background-color: #f7f7f7;
                position: relative;
                i {
                    margin-left: 15px;
                    color: #949494;
                    &.active {
                        color: $Primaire;
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    left: -10px;
                    background-color: $Primaire;
                    height: 25px;
                    width: 25px;
                    border-radius: 100%;
                    color: #ffffff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &:nth-child(1)::before {
                    content: "1";
                }
                &:nth-child(2)::before {
                    content: "2";
                }
                &:nth-child(3)::before {
                    content: "3";
                }
            }
        }
    }
    &#restaurants {
        .card {
            display: flex;
            flex-direction: column;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            border-radius: 20px;
            .couverture {
                position: relative;
                p {
                    position: absolute;
                    right: 0;
                    background-color: $Tertiaire;
                    color: #1e8067;
                    padding: 8px 10px;
                    margin: 10px;
                    border-radius: 5px;
                }
                img {
                    width: 100%;
                    border-radius: 20px 20px 0 0;
                    height: 150px;
                    object-fit: cover;
                }
            }
            .content {
                padding: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                i {
                    cursor: pointer;
                    background-clip: text;
                    -webkit-background-clip: text;
                    &:hover {
                        font-weight: 900;
                        transition: all 0.5s;
                        -webkit-text-fill-color: transparent;
                        animation: animLikeButton 0.6s ease-in-out forwards;
                    }
                }
            }
        }
    }
}


/* PAGE DES MENUS */

.pageMenu {
    section {
        position: relative;
        width: 100%;
        min-height: 100vh;
        padding: 0 2%;
        margin-bottom: 50px;
        div.block {
            border-radius: 40px 40px 0 0;
            background-color: #ffffff;
            width: 100%;
            padding: 0 5%;
            .title {
                margin: 25px 0;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            p {
                width: fit-content;
                position: relative;
                &.underline::before {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    height: 3px;
                    width: 65%;
                    background-color: $Tertiaire;
                }
            }
        }
        .wrapper {
            .parent {
                margin: 25px 0;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
                border-radius: 15px;
                position: relative;
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                animation: 800ms alternate apparition forwards;
                transition: opacity 1s, transform 1s;
                transition-delay: 1s;
                opacity: 0;
                &:nth-child(2) {
                    animation-delay: 300ms;
                }
                &:nth-child(3) {
                    animation-delay: 500ms;
                }
                .texte {
                    padding: 15px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 100%;
                    p {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: inherit;
                    }
                }
                .price {
                    padding: 15px;
                    display: flex;
                    align-items: flex-end;
                }
                .icon {
                    display: flex;
                    align-items: center;
                    height: 100%;
                }
                &:hover {
                    .check {
                        padding: 0 25px;
                        font-size: initial;
                        i {
                            transform: rotate(0deg);
                        }
                    }
                }
                .check {
                    background-color: $Tertiaire;
                    display: flex;
                    align-items: center;
                    padding: 0;
                    font-size: 0;
                    border-radius: 0 15px 15px 0;
                    transition: padding 400ms, font-size 400ms ease-in-out;
                    color: #ffffff;
                    i {
                        transform: rotate(720deg);
                        transition: transform 800ms;
                    }
                }
            }
        }
    }
}


/* BANNER */

.banner {
    position: relative;
    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        border-radius: 100px 100px 0 0;
        width: 100%;
        height: 30px;
        background-color: #ffffff;
    }
}


/* FOOTER */

footer {
    background-color: #4a4a4a;
    padding: 50px;
    ul {
        color: #ffffff;
        li {
            display: flex;
            align-items: center;
            gap: 15px;
            line-height: 30px;
            &:first-child {
                margin-bottom: 20px;
            }
            &:nth-child(3) {
                i {
                    width: 13px;
                    height: 16px;
                    font-size: 13px;
                }
            }
        }
    }
}

@keyframes animLikeButton {
    0% {
        color: $Secondaire;
        -webkit-text-fill-color: inherit;
    }
    99% {
        color: $Primaire;
    }
    100% {
        background-image: linear-gradient($Primaire, $Secondaire);
    }
}

@keyframes displayNone {
    100% {
        height: 0;
    }
}

@keyframes loading-icon {
    0% {
        transform: scale(0.4) rotate(0deg);
    }
    100% {
        transform: scale(1) rotate(10deg);
    }
}

@keyframes apparition {
    0% {
        opacity: 0;
        transform: translatey(15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (min-width: 768px) {
    #fonctionnement {
        ul {
            flex-direction: row !important;
            justify-content: center;
        }
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 35px;
        flex-wrap: wrap;
        .card {
            min-width: 250px;
            max-width: 250px;
            img {
                height: 100%;
            }
        }
        .wrapper {
            width: 80%;
        }
    }
}