@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/Shrikhand/Shrikhand-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-y: hidden;
  animation: loading 11s forwards linear;
}

.title {
  font-family: "Shrikhand";
}

ul {
  list-style-type: none;
}

h1,
h2 {
  font-family: "Roboto-bold";
}

button {
  outline: none;
  border: none;
  background-color: #9356dc;
  background-image: linear-gradient(#ff79da, rgba(255, 255, 255, 0));
  padding: 15px 35px;
  border-radius: 50px;
  width: fit-content;
  color: #ffffff;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: background-color 400ms, box-shadow 400ms;
}
button:hover {
  background-color: #ff79da;
  box-shadow: rgba(0, 0, 0, 0.4) 1.95px 1.95px 2.6px;
}

a {
  color: inherit;
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
}

/* LOADING */
.loading {
  background-color: #99e2d0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  animation: displayNone 6s forwards;
}
.loading span {
  margin-top: 300px;
  height: 50px;
  width: 10px;
  background-image: linear-gradient(#ff79da, #9356dc);
  border-radius: 50px 0 50px 0;
}
.loading span:nth-child(odd) {
  animation: loading-icon 0.8s ease-out infinite alternate-reverse, displayNone 3.5s forwards linear;
}
.loading span:nth-child(even) {
  animation: loading-icon 0.6s linear infinite alternate-reverse, displayNone 3.5s forwards linear;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
header a {
  position: absolute;
  left: 15px;
}

/* LOCALISATION */
.localisation {
  background-color: #e7e7e7;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #4a4a4a;
}

/* SECTIONS */
section {
  padding: 50px 4%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
section#home {
  padding: 50px 10%;
  align-items: center;
  text-align: center;
  background-color: #f1f1f1;
}
section#fonctionnement ul {
  list-style-type: decimal;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 15px;
}
section#fonctionnement ul li {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 30px 15px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 25px;
  background-color: #f7f7f7;
  position: relative;
}
section#fonctionnement ul li i {
  margin-left: 15px;
  color: #949494;
}
section#fonctionnement ul li i.active {
  color: #9356dc;
}
section#fonctionnement ul li::before {
  content: "";
  position: absolute;
  left: -10px;
  background-color: #9356dc;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#fonctionnement ul li:nth-child(1)::before {
  content: "1";
}
section#fonctionnement ul li:nth-child(2)::before {
  content: "2";
}
section#fonctionnement ul li:nth-child(3)::before {
  content: "3";
}
section#restaurants .card {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 20px;
}
section#restaurants .card .couverture {
  position: relative;
}
section#restaurants .card .couverture p {
  position: absolute;
  right: 0;
  background-color: #99e2d0;
  color: #1e8067;
  padding: 8px 10px;
  margin: 10px;
  border-radius: 5px;
}
section#restaurants .card .couverture img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  max-height: 200px;
  object-fit: cover;
}
section#restaurants .card .content {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section#restaurants .card .content i {
  cursor: pointer;
  background-clip: text;
  -webkit-background-clip: text;
}
section#restaurants .card .content i:hover {
  font-weight: 900;
  transition: all 0.5s;
  -webkit-text-fill-color: transparent;
  animation: animLikeButton 0.6s ease-in-out forwards;
}

/* PAGE DES MENUS */
.pageMenu section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 2%;
  margin-bottom: 50px;
}
.pageMenu section div.block {
  border-radius: 40px 40px 0 0;
  background-color: #ffffff;
  width: 100%;
  padding: 0 5%;
}
.pageMenu section div.block .title {
  margin: 25px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pageMenu section div.block p {
  width: fit-content;
  position: relative;
}
.pageMenu section div.block p.underline::before {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 3px;
  width: 65%;
  background-color: #99e2d0;
}
.pageMenu section .wrapper div {
  margin: 25px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.pageMenu section .wrapper div div {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 0;
  margin: 0;
  padding: 15px;
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.pageMenu section .wrapper div div p {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.pageMenu section .wrapper div:hover .check {
  padding: 0 25px;
  font-size: initial;
}
.pageMenu section .wrapper div:hover .check i {
  transform: rotate(0deg);
}
.pageMenu section .wrapper div .check {
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 0;
  border-radius: 0 15px 15px 0;
  transition: padding 400ms, font-size 400ms ease-in-out;
  color: #ffffff;
}
.pageMenu section .wrapper div .check i {
  transform: rotate(720deg);
  transition: transform 800ms;
}

/* BANNER */
.banner {
  position: relative;
}
.banner img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.banner::before {
  content: "";
  position: absolute;
  bottom: 0;
  border-radius: 100px 100px 0 0;
  width: 100%;
  height: 30px;
  background-color: #ffffff;
}

/* FOOTER */
footer {
  background-color: #4a4a4a;
  padding: 50px;
}
footer ul {
  color: #ffffff;
}
footer ul li {
  display: flex;
  align-items: center;
  gap: 15px;
  line-height: 30px;
}
footer ul li:first-child {
  margin-bottom: 20px;
}
footer ul li:nth-child(3) i {
  width: 13px;
  height: 16px;
  font-size: 13px;
}

@keyframes animLikeButton {
  0% {
    color: #ff79da;
    -webkit-text-fill-color: inherit;
  }
  99% {
    color: #9356dc;
  }
  100% {
    background-image: linear-gradient(#9356dc, #ff79da);
  }
}
@keyframes loading {
  100% {
    overflow-y: inherit;
  }
}
@keyframes displayNone {
  100% {
    height: 0;
  }
}
@keyframes loading-icon {
  0% {
    transform: scale(0.4) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(10deg);
  }
}

/*# sourceMappingURL=style.css.map */
